{% extends 'dummy.html' %}
{% block body_block %}
{% block title %}
<title>temp1</title>
{% endblock %}
<center>
<div>
    <center>
        <h1>
            This is Buttons page
        </h1>
    </center>

</div>
<div>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>
</div>

{% endblock %}
</center>